name: CI
on:
    push:
        branches:
            - main
    pull_request:    
        branches:
            - main
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Build Docker Image
              run: docker build . --file Dockerfile --tag nirbenboaz/final-python:$(date +%F)-${{github.run_number}}
              
            - name: Docker login
              run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
              
            - name: Docker push
              run: docker push nirbenboaz/final-python:$(date +%F)-${{github.run_number}}
              